:root {
	--logotipo: #1a1a1a;
	--profesion: #f2f2f2;
	--primario: #060f2e;
	--creem: #a09767;
	--blue-dark: #060f2e;
    --blue-medium: #323e68;
    --blue-ligth: #2b3764;
	--creema: #f0e6a0;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Bebas Neue', cursive;

}

a {
	text-decoration: none;
	color: #fff;
	outline: none;
}



/*Texto animado*/

main {
	width: 90%;
	margin: auto;
	max-width: 800px;
	min-height: 550px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	mix-blend-mode: multiply;
	margin-bottom: 0px;
}

.logotipo {
	padding: 10px;
	border: 5px solid var(--creem);
	color: var(--primario);
}

.logotipo .subtitulo {
	text-align: center;
	color: var(--profesion);
	background: var(--logotipo);
	padding: 12px 20px;
	transition: .5s ease all;
	font-size: 36px;
	font-family: 'Noto Serif', serif;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.logotipo:hover .subtitulo {
	background: var(--primario);
}

.texto-animado {
	display: flex;
	justify-content: center;
	overflow: hidden;
}

.texto-animado > div {
	display: flex;
	flex-direction: column;
	position: relative;
	transition: .3s ease all;
}

.texto-animado > div.animacion {
	transform: translateY(-100px);
}

.texto-animado > div span {
	font-size: 100px;
	font-weight: normal;
	line-height: 100px;
}

.texto-animado .segunda-linea {
	position: absolute;
	top: 100px;
}

/*Fondo Animado*/
.contenido-header{
    width: 100%;
    height: 100vh;
    background-image: url(/img/fondo.jpeg);
    background-position: center;
    background-size: cover;
    background-attachment: absolute;
   
}

.contenido-header .fondo{

    width: 0%;
    height: 100%;
    max-width: 100%;
    background-image: url(/img/fondojcee.jpeg);
	background-position: center;
    background-size: cover;
}

/*Menu*/
.menu{
	width: 100%;

	background-color: var(--blue-dark);
	position: sticky;
    top: 0;
    padding: 5px;
    z-index: 999;
    text-align: center;
    display: flex;
    justify-content: center;
    font-family: 'Noto Serif', serif;
    font-style: italic;
    margin-bottom: 0px;
	border: 3px solid var(--creem);
	
}

.menu a{

    display: inline-block;
    padding: 10px 30px;
    font-size: 26px;
    background-color: var(--blue-dark);
    margin: 0 10px;
	font-family: 'Noto Serif',serif;
    transition: .5s ease all;
    color: white;
    text-decoration: none;
}

.menu a:hover{
    
    transform: translateY(20px);
    background-color: var(--creem);

}


/*Nosotros*/



.nosotros{
    margin-bottom: 50px;

    
}

.subtitulos{
	
    font-size: 20px;
    color: var(--blue-dark);
    font-family: 'Noto Serif', serif;
    font-weight: 700;
    z-index: 2;
    text-transform: uppercase;
    margin-bottom: 20px;
	
}


.subtitulos span{

    background-color: var(--creem);
    padding: 0 15px;
    z-index: 99;
    position: relative;

}

.subtitulos::after{

    content: "";
    display: inline-block;
    height: 2px;
    width: 100%;
    background: var(--blue-dark);
    position: relative;
    top: -29px;
    z-index: 1;
}

.nosotros .titulos{

    width: 70%;
    font-size: 44px;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 50px;

}


.nosotros .enlace{
	font-size: 30px;
    display: inline-block;
    margin-top: 40px;
    color: var(--blue-dark);
    font-weight: 700;
    border-bottom: 1px solid transparent;
    transition: .3s ease all;
	margin-bottom: 15px;

}

.nosotros .enlace:hover{
    text-decoration: none;
    letter-spacing: 5px;
    border-bottom: 1px solid var(--blue-ligth);

}

.nosotros p{
	border:5px solid var(--blue-ligth) ;
}



/*Carrusel*/


.contenedor {
	max-width: 1200px;
	width: 90%;
	margin: auto;
	margin-bottom: 30px;
}

/* --- --- CONTENEDOR PRINCIPAL --- --- */




.contenido-principal__imagen {
	vertical-align: top;
	margin-right: 20px;
	width: 50%;
	max-width: 550px;
}

.contenido-principal__contenedor {
	width: 50%;
}

.contenido-principal__titulo {
	font-weight: normal;
	font-size: 28px;
}

.contenido-principal__resumen {
	font-family: 'Open Sans', sans-serif;
	line-height: 30px;
	color: #000000;
}

/* --- --- CAROUSEL --- --- */
.carousel__contenedor {
	position: relative;
}

.carousel__anterior,
.carousel__siguiente {
	position: absolute;
	display: block;
	width: 30px;
	height: 30px;
	border: none;
	top: calc(50% - 35px);
	cursor: pointer;
	line-height: 30px;
	text-align: center;
	background: none;
	color: rgb(0, 0, 0);
	opacity: 500%;
}

.carousel__anterior:hover,
.carousel__siguiente:hover {
	opacity: 100%;
}

.carousel__anterior {
	left: -30px;
}

.carousel__siguiente {
	right: -30px;
}

.carousel__lista {
	overflow: hidden;
}

.carousel__elemento {
	text-align: center;
}

.carousel__indicadores .glider-dot {
	display: block;
	width: 30px;
	height: 4px;
	background: rgb(0, 0, 0);
	opacity: .2;
	border-radius: 0;
}

.carousel__indicadores .glider-dot:hover {
	opacity: .5;
}

.carousel__indicadores .glider-dot.active {
	opacity: 1;
}


	


/*
Separador
*/


.separador{
    width: 100%;
    height: 250px;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    margin-bottom: 60px;

}


.separador p{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-family: 'Noto Serif',serif;
    padding: 10px;
	color: black;
}



/*
Redes sociales
*/

.redes-sociales{

    padding: 10px;
    background-color: var(--blue-dark);
}


.redes-sociales img{
    padding: 5px;
    border-radius: 100%;
    width: 50px;
    transition: .2s ease all;
}

.redes-sociales img:hover{
    transform: scale(1.8);
  
}



/*Media querys*/
@media only screen and (min-width : 600px) and (max-width : 1024px) and (orientation : landscape){
	.texto-animado > div span {
		font-size: 50px;
		line-height: 50px;
	
	}

	.texto-animado .segunda-linea {
		top: 50px;
	}

	.texto-animado > div.animacion {
		transform: translateY(-50px);
	}

	.logotipo .subtitulo {
		font-size: 20px;
	}
	body {
		padding: 40px 0;
	}

	.contenido-principal {
		flex-direction: column;
	}

	.contenido-principal > * {
		width: 100%;
	}

	p{
        font-size: 18px;
    }
    .contenido-header .texto{
        font-size: 60px;
    }
	

    .menu a{
		padding: 10px 15px;
		width: 80%;
		height: 100%;
	   margin: 0;
	   position: fixed;
        font-size: 20px;
    }
    .nosotros .titulo,
    .productos .titulo{
        font-size: 30px;
    }

}

